<div class="container">
    <div class="d-flex flex-col justify-content-center align-items-center">
        <!-- link -->
        <ul class="col-5">
            <div class="zoom mb-4">
                <a href="/products/out-door/all">All OUT-DOORS</a>
            </div>
            <li class="zoom">
                <a href="/products/out-door/outdoor-furniture"
                    class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                    Outdoor Furniture
                </a>
            </li>

            <li class="zoom">
                <a href="/products/out-door/outdoor-lights"
                    class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                    Outdoor Lights
                </a>
            </li>

            <li class="zoom">
                <a href="/products/out-door/outdoor-accessories"
                    class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                    Outdoor Accessories
                </a>
            </li>

            <li class="zoom">
                <a href="/products/out-door/outdoor-games-recreation"
                    class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                    Outdoor Games + Recreation
                </a>
            </li>

            <li class="zoom">
                <a href="/products/out-door/firepits-grills"
                    class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                    Fire Pits + Grills
                </a>
            </li>

        </ul>
        <!-- image -->
        <div class="col-8">
            <div class="col-7">
                <div class="d-flex flex-col">
                    <img class="img-fluid mr-1" src="../../../../assets/Furnitures/bed2.webp" />
                    <img class="img-fluid" src="../../../../assets/Furnitures/bed2.webp" />
                </div>
            </div>
        </div>
    </div>
</div>