nav {
    display: flex;
    justify-content: space-around;
    padding: 1% 2%;
    width: 100%;
    background-color: orange;
    margin-bottom: 1%;
}
form{
    background-color: white;
}
.list-header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.form-label {
    width: 30%;
    margin: 2% 0 0 0;
    font-weight: bold;
    text-align: start;
}

input.ng-valid.ng-touched {
    border-left: 10px solid #42A948;
}

input.ng-invalid.ng-touched {
    border-left: 10px solid #a94442;
}

select.ng-valid.ng-touched {
    border-left: 10px solid #42A948;
}

select.ng-invalid.ng-touched {
    border-left: 10px solid #a94442;
}

select {
    width: 35%;
}

.form {

    margin: auto;
    background-color: white;
}


.label {
    padding: 1%;
    background-color: orange;
    font-weight: bolder;
    font-size: large;
    margin: 2% 0;
}

.label:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.bg-r {
    color: red;
    background-color: transparent !important;
}

.form-control {
    padding: 0.5% 1%;
    margin: 0.2% 0;
    border-radius: 10px;
    width: 30%;
}

.alert {
    padding: 0.5% 1%;
    margin: 0.2% 0;
    border-radius: 5px;
    width: 30%;
}

.alert-danger {
    background-color: #f1b0af;
    color: red;
}

.btn {

    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    margin-bottom: 1%;
}

.btn:hover:active {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.message {
    background-color: transparent !important;
    margin: 4%;
}