<div class="container">
    <div class="d-flex flex-col justify-content-center align-items-center">
        <!-- link -->
        <ul class="col-4">
            <li>BEDS</li>
            <li>DAYBEDS</li>
            <li>KIDS</li>
            <li>BEDSSIDE TABLE</li>
        </ul>
        <!-- image -->
        <div class="col-8">
            <div class="col-6">
                <div class="d-flex flex-col">
                    <img class="img-fluid mr-1" src="../../../../assets/Furnitures/bed2.webp" />
                    <img class="img-fluid" src="../../../../assets/Furnitures/bed2.webp" />
                </div>
            </div>
        </div>
    </div>
</div>