<div class="container">
    <div class="d-flex flex-col justify-content-center align-items-center">
        <!-- link -->
        <ul class="col-4">
            <li class="zoom mb-1" ><a >BEDS</a></li>
            <li class="zoom mb-1"><a >DAYBEDS</a></li>
            <li class="zoom mb-1"><a >KIDS</a></li>
            <li class="zoom mb-1"><a >BEDSSIDE TABLE</a></li>
        </ul>
        <!-- image -->
        <div class="col-8">
            <div class="col-7">
                <div class="d-flex flex-col">
                    <img class="img-fluid mr-1" src="../../../../assets/Furnitures/bed2.webp" />
                    <img class="img-fluid" src="../../../../assets/Furnitures/bed2.webp" />
                </div>
            </div>
        </div>
    </div>
</div>