
<div class="container">
    <ngb-alert *ngIf="successMessage"  type="success">You have Registered successfuly</ngb-alert>
    <div class="center">
        <div class="card">
            <h4 class="header zoom">VegaLanes</h4>
            <h6 class="header zoom">signUp</h6>
            <div class="">
                <form [formGroup]="signinForm" class="form">
                    <div class="form-group">
                        <label>Name</label>
                        <input id="name" type="text" formControlName="name" class="form-controllers zoom"
                            placeholder="Enter Name" />
                        <div *ngIf="signinForm.get('name')?.invalid && signinForm.get('name')?.touched"
                            class="alert alert-danger form-controllers">
                            Invalid Name
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-">Email</label>
                        <input id="email" type="email" formControlName="email" class="form-controllers zoom"
                            placeholder="Enter Email" />
                        <div *ngIf="signinForm.get('email')?.invalid && signinForm.get('email')?.touched"
                            class="alert alert-danger form-controllers">
                            Invalid Email
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input id="phone" type="text" formControlName="phone" class="form-controllers zoom"
                            placeholder="Enter phone number" />
                        <div *ngIf="signinForm.get('phone')?.invalid && signinForm.get('phone')?.touched"
                            class="alert alert-danger form-controllers">
                            Invalid phone number
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input id="password" type="password" formControlName="password" class="form-controllers zoom"
                            placeholder="Enter password" />
                        <div *ngIf="signinForm.get('password')?.invalid && signinForm.get('password')?.touched"
                            class="alert alert-danger form-controllers">
                            Invalid Password
                        </div>
                    </div>
                    <div class="form-group">
                        <button (click)="onSubmit()" class="btn zoom">Register</button>
                    </div>
                </form>
                <div class="googlfb">
                    <button class="btn zoom btn-google "><img class="google" src="../../../assets/loginGoogle.svg"
                            alt="">Sign in With Google</button>
                    <button class="btn zoom btn-fb"><img class="facebook" src="../../../assets/LoginFb.svg" alt="">Sign
                        in With Facebook</button>
                </div>
                <a class="zoom" routerLink="/auth/login">login?</a>
            </div>


        </div>
    </div>
</div>