<app-header></app-header>
<div class="container">
    <h1>Customer Service</h1>

    <p>Our customer service team is here to assist you with any questions or issues you may have. We are committed to
        providing excellent service to our customers.</p>

    <h2>Contact Information</h2>
    <p>If you need assistance, please don't hesitate to contact us:</p>

    <ul>
        <li>Email: customerservice@example.com</li>
        <li>Phone: +1234567890</li>
    </ul>
</div>
<app-footer></app-footer>