<app-header></app-header>

<div class="container">
    <div class="row">
      <div class="col-lg-4">
            <app-category [Type]="'living Room'"></app-category>
      </div>
        <div class="col-lg-4">
            <app-category [Type]="'Bed Room'"></app-category>
        </div>
        <div class="col-lg-4">
            <app-category [Type]="'Kitchen '"></app-category>
        </div>
        <div class="col-lg-4">
            <app-category [Type]="'Office'"></app-category>
        </div>
        <div class="col-lg-4">
            <app-category [Type]="'Art'"></app-category>
        </div>
        <div class="col-lg-4">
            <app-category [Type]="'Others'"></app-category>
        </div>
       
    </div>
</div>

<app-footer></app-footer>
