

    <nav style="background-color:#32cf9d;" class="navbar navbar-expand-lg navbar-dark sticky-top">
<div class="container-fluid p-l-1">
        <img routerLink="/products" class="zoom brand" src="../../../assets/brand.svg" alt="filter" />

        <div class="">
            <button (click)="Category.toggle()" style="outline: none !important;outline-width: 0px !important;" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <span class="sidebar-toggle d-flex mr-2 "> <i class="hamburger align-self-center"></i></span>
        </div>

      <div class="container-fluid d-flex">
            <div #Category="ngbCollapse" [(ngbCollapse)]="navbarCollapse"
                class="collapse navbar-collapse " id="navbarSupportedContent">
            
                <div class="row  container-fluid  justify-content-center align-items-center">
                    <div class="  ">
                        <img ngbPopover="filter Products" triggers="mouseenter:mouseleave" (click)="open()"
                                    class="zoom " src="../../../assets/filter.svg" alt="filter" />
                        <img ngbPopover="signin /signup" triggers="mouseenter:mouseleave" routerLink="/auth/login" class="zoom"
                            src="../../../assets/avata.svg" alt="filter" />
                        <img ngbPopover="Cart" triggers="mouseenter:mouseleave" routerLink="/cart" class="zoom"
                            src="../../../assets/cart.svg" alt="filter" />
                            <img ngbPopover="Search" triggers="mouseenter:mouseleave" (click)="this.searchBarOpen=!searchBarOpen" class="zoom" src="../../../assets/cart.svg"
                                alt="filter" />
                        <span class="d-inline-block" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
                            data-bs-content="Disabled popover">
                            <button popoverTitle="Pop title" routerLink="/products" class="btn zoom">Logout</button>
                        </span>
                    </div>
                        <div hidden="searchBarOpen" class="form center col-sm">
                            <form #search="ngForm">
                                <input type="text" placeholder="  search.." ngModel name="search">
                                <button class="btn zoom" type="submit" [disabled]="!search.form.valid">
                                    Search
                                </button>
                            </form>
                        </div>
                </div>
            </div>
      </div>
    </div>
        </nav>



    





