<div class="container">
    <div class="d-flex flex-col justify-content-center align-items-center">
        <!-- link -->
        <ul class="col-5">
            <div class="text-caps mb-4 zoom">
                <a href="/products/bedroom/all">All Furniture</a>
            </div>
            <li class="text-caps mb-1 zoom">
                <a href="/products/bedroom/sofas" class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                    Sofas
                </a>
            </li>

            <li class="text-caps  mb-1  zoom">
                <a href="/products/bedroom/chairs" class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                    Chairs
                </a>
            </li>

            <li class="text-caps  mb-1  zoom">
                <a href="/products/bedroom/tables-desks"
                    class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                    Tables + Desks
                </a>
            </li>

            <li class="text-caps  mb-1 zoom">
                <a href="/products/bedroom/shelving" class=" wrap">
                    Shelving
                </a>
            </li>

            <li class="text-caps  mb-1 zoom">
                <a href="/products/bedroom/sideboards-cabinets"
                    class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                    Sideboards + Cabinets
                </a>
            </li>

            <li class="text-caps  mb-1 zoom">
                <a href="/products/bedroom/stools-benches-ottomans"
                    class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                    Stools + Benches + Ottomans
                </a>
            </li>

            <li class="text-caps  mb-1  zoom">
                <a href="/products/bedroom/kids-baby-furniture"
                    class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                    Kids' + Baby Furniture
                </a>
            </li>
        </ul>
        <!-- image -->
        <div class="col-8 ">
            <div class="col-7">
                <div class="d-flex flex-col">
                    <img class="img-fluid mr-1" src="../../../../assets/Furnitures/bed2.webp" />
                    <img class="img-fluid" src="../../../../assets/Furnitures/bedroom2.png" />
                </div>
            </div>
        </div>
    </div>
</div>