.card:hover{
    background-color: rgb(174, 220, 205);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    border-width: 2px;
    color: whitesmoke;
}
.card{
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}