<app-header></app-header>
<div class="container justify-content-center">
    <h2 class="empty-text">Shopping Cart</h2>
</div>
<div *ngIf="isCartEmpty()" class="empty-container">
    <div class="container d-flex empty-text-nav">
        <h3>Your cart is empty.</h3>
        <h3>Bummer!</h3>
        <button routerLink="/" class="btn empty-btn w-45">
            <h3>Shop Awsome Design</h3>
        </button>
    </div>
</div>

<div *ngIf="!isCartEmpty()" class="container mb-4">
    <div class="left">
        <div class="b-top">
            <h4><b>{{cartservice.productCount()}}</b> Products in Cart</h4>
        </div>
        <div class="" *ngFor="let product of cartservice.products">
            <hr>
            <div class="product">
                <div class="action">
                    <div class="image-name">
                        <img src='{{product.pictures}}' alt="{{product.name}}">
                        <h6> {{product.brand}}</h6>
                    </div>
                    <div class="price">
                        <b>Cost</b>
                        <h4><b>{{product.cost}}</b></h4>
                        <b>Subtotal</b>
                        <h4><b>{{product.subtotal}}</b></h4>
                    </div>
                </div>
                <div class="action">
                    <div class="remove">
                        <button (click)="cartservice.removeProductCart(product.uid)" class="zoom btn "> <img
                                src="../../../assets/delete.svg" alt="delete">REMOVE</button>
                    </div>
                    <div class="add-sub">
                        <button (click)="cartservice.reduceProductQuantityCart(product.uid)"
                            class="btn sub  zoom-out"><img src="../../../assets/sub.svg" alt=""></button>
                        <h1>{{product.quantity}}</h1>
                        <button (click)="cartservice.addProductQuantityCart(product.uid)" class="btn add zoom-out"><img
                                src="../../../assets/add.svg" alt=""></button>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="right">
        <div class="title">
            <h4>CART SUMMARY</h4>
        </div>
        <hr>

        <div class="subtotal">
            <h3>Total</h3>
            <h2>{{cartservice.Total}}</h2>
        </div>
        <hr>
        <button *ngIf="!logedin()" routerLink="/auth/login" class="btn w-100 zoom-out">Login</button>
    
        <div *ngIf="logedin()" class="payment">
            <button routerLink="/cart/checkout" class="btn w-100 zoom-out">checkout</button>

        </div>

    </div>
</div>