<div class="container">
    <div class="d-flex flex-col justify-content-center align-items-center">
        <!-- link -->
        <ul class="col-4 ">                    
                            <div class="mb-4 zoom">
                                <a href="/collections/kitchen">All Furnitures </a>
                            </div>
                            
                            <li class="text-caps zoom">
                                <a href="/collections/cookware" class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                    SOFAS
                                </a>
                            </li>
                            
                            <li class="text-caps zoom">
                                <a href="/collections/kitchen-tools" class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                    CHAIRS
                                </a>
                            </li>
                            
                            <li class="text-caps zoom">
                                <a href="/collections/knives" class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                    TABLES +DESKS
                                </a>
                            </li>
                            
                            <li class="text-caps zoom">
                                <a href="/collections/water-filtration" class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                    SHELVES
                                </a>
                            </li>
                            
                            <li class="text-caps zoom">
                                <a href="/collections/kitchen-table-linens" class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                    SIDEBOARD + CABINETS
                                </a>
                            </li>
                            
                            <li class="text-caps zoom">
                                <a href="/collections/organization-food-storage" class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                    KIDS + CHILDREN FURNITURE
                                </a>
                            </li>
                     

        </ul>
        <!-- image -->
            <div class="col-8 bg-danger">
            <div class="col-6">
                <div class="d-flex flex-col">
                    <img class="img-fluid mr-1" src="../../../../assets/Furnitures/bed2.webp" />
                    <img class="img-fluid" src="../../../../assets/Furnitures/bed2.webp" />
                </div>
            </div>

            </div>

    </div>
</div>