<div class="container">
    <div class="d-flex flex-col justify-content-center align-items-center">
        <!-- link -->
        <ul class="col-4 ">
            <li><a><b>ALL FURNITURES</b></a></li>
            <li><a>SOFAS</a></li>
            <li><a>CHAIRS</a></li>
            <li><a>TABLES +DESKS</a></li>
            <li><a>SHELVES</a></li>
            <li><a>SIDEBOARD + CABINETS</a></li>
            <li><a>KIDS + CHILDREN FURNITURE</a></li>

        
        </ul>
        <!-- image -->
        <div class="col-8">
            <div class="col-6">
                <div class="d-flex flex-col">
                    <img class="img-fluid mr-1" src="../../../../assets/Furnitures/bed2.webp" />
                    <img class="img-fluid" src="../../../../assets/Furnitures/bed2.webp" />
                </div>
            </div>
        </div>
    </div>
</div>