<div class="container">
    <div class="d-flex flex-col justify-content-center align-items-center">
        <!-- link -->

        <ul class="col-4 mr-5">

            <div class="text-caps zoom mb-4">
                <a href="/collections/dining">All Dining</a>
            </div>

            <li class="text-caps text-wide zoom">
                <a href="/collections/dinnerware" class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                    Dinnerware
                </a>
            </li>

            <li class="text-caps text-wide text-inverted zoom">
                <a href="/collections/serveware" class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                    Serveware
                </a>
            </li>

            <li class="text-caps zoom">
                <a href="/collections/drinkware" class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                    Drinkware
                </a>
            </li>

            <li class="text-caps text-wide text-inverted zoom">
                <a href="/collections/barware" class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                    Barware
                </a>
            </li>

            <li class="text-caps text-wide text-inverted zoom">
                <a href="/collections/coffee-tea" class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                    Coffee + Tea
                </a>
            </li>

            <li class="text-caps text-wide text-inverted zoom">
                <a href="/collections/carafes-pitchers"
                    class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                    Carafes + Pitchers
                </a>
            </li>

            <li class="text-caps text-wide text-inverted zoom">
                <a href="/collections/wine-champagne-glasses"
                    class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                    Wine + Champagne Glasses
                </a>
            </li>

            <li class="text-caps text-wide text-inverted zoom">
                <a href="/collections/beer-cocktail-glasses"
                    class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                    Beer + Cocktail Glasses
                </a>
            </li>

            <li class="text-caps text-wide text-inverted zoom">
                <a href="/collections/kitchen-table-linens"
                    class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                    Kitchen + Table Linens
                </a>
            </li>

        </ul>
        <!-- image -->
        <div class="col-8">
            <img class="img-fluid mr-1" src="../../../../assets/Furnitures/bed2.webp" />

        </div>
    </div>
</div>