<div class="d-flex flex-column mb-5" style="width: 100%; margin-bottom:50%;">
    <nav style="background-color:#32cf9d;width: 100%;" class="navbar navbar-expand-lg navbar-dark fixed-topp">
        <div class="container-fluid p-l-1 align-items-between p-2">
            <div class="w-100 d-flex justify-content-between align-items-center">
                <div class=" align-items-center">
                    <button (click)="menuOpen()" style="outline: none !important;outline-width: 0px !important;"
                        class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <span class="sidebar-toggle d-flex mr-2 "> <i class="hamburger align-self-center"></i></span>
                </div>

                <div class="">
                    <p>Vega'sLane</p>
                </div>
                <div class=" align-items-center">
                    <button (click)="Category.toggle()" style="outline: none !important;outline-width: 0px !important;"
                        class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <span class="sidebar-toggle d-flex mr-2 "> <i class="hamburger align-self-center"></i></span>
                </div>
            </div>
            <div>
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav">
                        <!-- BEDROOM -->
                        <div class="link ">
                            <a class="nav-link text-white   dropdown-toggle" href="#"
                                data-bs-toggle="dropdown">BEDROOM</a>
                            <div class="dropdown-menu " style="width: 100%;">
                                <div class="d-flex flex-col bg-dark bg p-4  justify-content-center">
                                    <app-bed-room></app-bed-room>
                                </div>
                            </div>
                        </div>

                        <!-- FURNITURE -->
                        <div class="link ">
                            <a class="nav-link text-white  dropdown-toggle" href="#"
                                data-bs-toggle="dropdown">FURNITURE</a>
                            <div class="dropdown-menu" style="width: 100%;">
                                <div class="d-flex flex-col bg p-4 bg-dark justify-content-center">
                                    <app-furniture></app-furniture>
                                </div>
                            </div>
                        </div>
                        <!-- LIGHTING -->
                        <div class="link ">
                            <a class="nav-link  text-white dropdown-toggle" href="#"
                                data-bs-toggle="dropdown">LIGHTING</a>
                            <div class="dropdown-menu" style="width: 100%;">
                                <div class="d-flex flex-col bg-dark p-4 justify-content-center">
                                    <app-lighting></app-lighting>
                                </div>
                            </div>
                        </div>
                        <!-- OUTDOOR -->
                        <div class="link">
                            <a class="nav-link text-white dropdown-toggle" href="#"
                                data-bs-toggle="dropdown">OUTDOOR</a>
                            <div class="dropdown-menu" style="width: 100%;">
                                <div class="d-flex flex-col bg-dark p-4 justify-content-center">
                                    <app-out-door></app-out-door>
                                </div>
                            </div>
                        </div>

                        <!-- DINNING -->
                        <div class="link ">
                            <a class="nav-link text-white  dropdown-toggle" href="#"
                                data-bs-toggle="dropdown">DINNING</a>
                            <div class="dropdown-menu" style="width: 100%;">
                                <div class="d-flex flex-col bg-dark p-4 justify-content-center">
                                    <app-dinning></app-dinning>
                                </div>
                            </div>
                        </div>
                        <!--KITCHEN  -->
                        <div class="link">
                            <a class="nav-link text-white  dropdown-toggle" href="#"
                                data-bs-toggle="dropdown">KITCHEN</a>
                            <div class="dropdown-menu " style="width: 100%;">
                                <div class="d-flex flex-col bg-dark p-4 justify-content-center">
                                    <app-kitchen></app-kitchen>
                                </div>
                            </div>
                        </div>

                        <!-- ART -->
                        <div class="link">
                            <a class="nav-link text-white  dropdown-toggle" href="#" data-bs-toggle="dropdown">ART</a>
                            <div class="dropdown-menu art" style="width: 100%;">
                                <div class="d-flex flex-col bg-dark p-4  justify-content-center ">
                                    <app-art></app-art>
                                </div>
                            </div>

                        </div>

                        <!-- testing -->

                    </ul>

                </div>

            </div>

            <div class="w-100 mt-2 d-flex  ">
                <div #Category="ngbCollapse" [(ngbCollapse)]="navbarCollapse"
                    class="collapse navbar-collapse  align-items-center justify-content-center"
                    id="navbarSupportedContent">

                    <div class="row w-100  t-1  bg-dangerr m-l-5">
                        <div class="d-flex  m-1 p-3 ">
                        
                                <i  (click)="searchBarOpen=!searchBarOpen" class="bi bi-search ml-5 mr-3 icon"></i>
                            <i ngbPopover="filter Products" triggers="mouseenter:mouseleave" (click)="open()" class="bi bi-filter mr-3"></i>
                                <i ngbPopover="Cart" triggers="mouseenter:mouseleave" routerLink="/cart" class="bi bi-cart mr-3 "></i>
                                <i *ngIf="!logedin()" ngbPopover="signin/signup" triggers="mouseenter:mouseleave" routerLink="/auth/login" class="bi bi-person-plus-fill"></i>
                                
                                <a class="" aria-expanded="false">
                                    <span class="mr-1 text-white">{{getName()}}</span>
                                    <img class="img-profile rounded-circle"
                                        src="../../../../assets/img/undraw_profile.svg">
                                </a>
                                
                                <span *ngIf="logedin()" class="" tabindex="0" data-bs-toggle="popover"
                                    data-bs-trigger="hover focus" data-bs-content="Disabled popover">
                                    <button popoverTitle="Pop title" routerLink="/products" (click)="logout()"
                                        class="btn zoom">Logout</button>
                                </span>

                        </div>
                        <div *ngIf="searchBarOpen" class="form center col-sm mt-3">
                            <form #search="ngForm">
                                <input type="text" placeholder="  search.." ngModel name="search">
                                <button class="btn zoom" type="submit" [disabled]="!search.form.valid">
                                    Search
                                </button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </nav>


</div>