.container-fluid {
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 1%;
    flex-direction: row;
}
.account-btn{
    background-color:#32cf9d;
    border-width: 0px;
    outline: 0px;
    color: white;
    font-size: large;
}
.account-btn:hover{
   color:black;
}
.left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8% !important;
    margin-left: 2%;
}

.left>img {
    width: 10%;
}

.image {
    display: flex;
}

.form>form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right>img {
    width: 10%;
}

img{
    width: 10%;
}
.form>form>input {
    border-radius: 10px;
    padding: 1% 5%;
    border-width: 0 0 2px 0;
    outline: 0;
    background-color: transparent;

}

.center>img {
    width: 5%;
}

.btn {
    border: 0px;
    background-color: orange;
    color: white;
    border-radius: 4px;
    padding: 2% 5%;
    text-align: center;
    outline: none;
    border-width: 0%;
}


.nav-item>i{
 font-size: 200%;
 font-weight: bolder;
 padding: 10%;
   
}
 .img-profile{
font-size: 500%;
 font-weight: bolder;

 }
.nav-item>i:hover{
 color: white;
   
}
.btn:hover {
    opacity: 80%;
    cursor: grab;
}

/*zooming the icons*/
.zoom {
    transition: transform .2s;
    /* Animation */
}

.zoom:hover {
    transform: scale(1.1);
}

.filter-container {
    width: 10%;
}


  .btn-link-div{
          display: flex;
          justify-content: center;
          align-items: center;
        }


svg{
    color: white;
    margin-right: 1%;
    width: 7%;
}

/*phone*/
@media only screen and (max-width: 428px) {

    .fluid-sm{
        width: 100% !important;
    }
        svg {
            width: 10%;
            margin-right: 6%;
            
        }
        .brand{
           font-weight: bold; 
        }
      .icon-container{
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }

}




/*tablet*/
@media only screen and (min-width: 600px) and (max-width: 810px) {}

@media (min-width: 992px) {
    .navbar .link .nav-item .dropdown-menu {
        display: none;
        position: absolute;
            background-color: #f9f9f9;
            width: 100%;
            left: 0;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;

    }

    .navbar .link:hover .nav-link {
        color: white;
       
    }
    .navbar .link:hover .dropdown-menu {
        display:block;
        padding: 0% !important;
        background-color: transparent;
        border-radius: 0px;
        border-width: 0px;
        box-shadow: 0px 8px 16px 0px #32cf9d;   
        transition-delay: 1s;
        top:60px;
    }


    .navbar .nav-item .dropdown-menu {
        margin-top: 3;
        
    }
    .bg{
        width: 100%;
        background-color: rgb(51, 51, 51);
        color: white;
    }
    .art{
       float:left !important;

    }
}


/* new data */


.zoom {
    transition: transform .2s;
    /* Animation */
}

.zoom:hover {
    transform: scale(1.1);
}

.filter-container {
    width: 10%;
}

/*tablet*/
@media only screen and (min-width: 600px) and (max-width: 810px) {}


@media (min-width: 992px) {
   .userinfor.dropdown-menu {
        display: none;
        position: absolute;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
    .navbar .link:hover .userinfor-menu {
        display: block;
        right:2px;
        left: 85%;
        background-color: white;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.489);
        transition-delay: .25s;
    }
    .userinfor-menudropdown {
        color: white !important;
        display: none;
    } 
    
} 

.dropdown-item-danger {
    color: var(--bs-red);
}

.dropdown-item-danger:hover,
.dropdown-item-danger:focus {
    color: #fff;
    background-color: var(--bs-red);
}

.dropdown-item-danger.active {
    background-color: var(--bs-red);
}
.dropdown-menu-left {
    right: auto;
    left: 0;
}

.dropdown-menu-right {
    right: 0;
    left: auto;
}


.dropdown .dropdown-menu {
    font-size: 0.85rem;
}

.dropdown .dropdown-menu .dropdown-header {
    font-weight: 800;
    font-size: 0.65rem;
    color: #b7b9cc;
}

.dropdown.no-arrow .dropdown-toggle::after {
    display: none;
}
.mx-1 {
  margin-right: 0.25rem !important;
}

.text-uppercase,
.dropdown .dropdown-menu .dropdown-header,
.sidebar .sidebar-heading {
    text-transform: uppercase !important;
}
   
.alerts {
    left: 0%;
}