<div class="d-flex w-100 flex-column mb-3" style=" margin-bottom:50%;">
    <nav style="background-color:#32cf9d;" class="navbar navbar-expand-lg navbar-dark w-100">
        <div class="container-fluid p-l-1 align-items-between p-2">
            <div class="w-100 d-flex justify-content-between align-items-center">
                <div class=" align-items-center">
                    <button (click)="menuOpen()" style="outline: none !important;outline-width: 0px !important;"
                        class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <span class="sidebar-toggle d-flex mr-2 "> <i class="hamburger align-self-center"></i></span>
                </div>

                <div class="brand">
                    <h2 routerLink="/">Vega'sLane</h2>
                </div>
                <div class=" align-items-center">
                    <button (click)="Category.toggle()" style="outline: none !important;outline-width: 0px !important;"
                        class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <span class="sidebar-toggle d-flex mr-2 "> <i class="hamburger align-self-center"></i></span>
                </div>
            </div>
            <div>
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav">
                        <!-- BEDROOM -->
                        <div class="link ">
                            <a class="nav-link text-white   dropdown-toggle" routerLink="/products/bedroom/all"
                                data-bs-toggle="dropdown">BEDROOM</a>
                            <div class="dropdown-menu " style="width: 100%;">
                                <div class="d-flex flex-col bg-dark bg p-4  justify-content-center">
                                    <app-bed-room></app-bed-room>
                                </div>
                            </div>
                        </div>

                        <!-- FURNITURE -->
                        <div class="link ">
                            <a class="nav-link text-white  dropdown-toggle" routerLink="/products/furniture/all"
                                data-bs-toggle="dropdown">FURNITURE</a>
                            <div class="dropdown-menu" style="width: 100%;">
                                <div class="d-flex flex-col bg p-4 bg-dark justify-content-center">
                                    <app-furniture></app-furniture>
                                </div>
                            </div>
                        </div>
                        <!-- LIGHTING -->
                        <div class="link ">
                            <a class="nav-link  text-white dropdown-toggle" routerLink="/products/lighting/all"
                                data-bs-toggle="dropdown">LIGHTING</a>
                            <div class="dropdown-menu" style="width: 100%;">
                                <div class="d-flex flex-col bg-dark p-4 justify-content-center">
                                    <app-lighting></app-lighting>
                                </div>
                            </div>
                        </div>
                        <!-- OUTDOOR -->
                        <div class="link">
                            <a class="nav-link text-white dropdown-toggle" routerLink="/products/outdoor/all"
                                data-bs-toggle="dropdown">OUTDOOR</a>
                            <div class="dropdown-menu" style="width: 100%;">
                                <div class="d-flex flex-col bg-dark p-4 justify-content-center">
                                    <app-out-door></app-out-door>
                                </div>
                            </div>
                        </div>

                        <!-- DINNING -->
                        <div class="link ">
                            <a class="nav-link text-white  dropdown-toggle" routerLink="/products/dinning/all"
                                data-bs-toggle="dropdown">DINNING</a>
                            <div class="dropdown-menu" style="width: 100%;">
                                <div class="d-flex flex-col bg-dark p-4 justify-content-center">
                                    <app-dinning></app-dinning>
                                </div>
                            </div>
                        </div>
                        <!--KITCHEN  -->
                        <div class="link">
                            <a class="nav-link text-white  dropdown-toggle" routerLink="/products/kitchen/all"
                                data-bs-toggle="dropdown">KITCHEN</a>
                            <div class="dropdown-menu " style="width: 100%;">
                                <div class="d-flex flex-col bg-dark p-4 justify-content-center">
                                    <app-kitchen></app-kitchen>
                                </div>
                            </div>
                        </div>

                        <!-- ART -->
                        <div class="link">
                            <a class="nav-link text-white  dropdown-toggle" routerLink="/products/art/all"
                                data-bs-toggle="dropdown">ART</a>
                            <div class="dropdown-menu art" style="width: 100%;">
                                <div class="d-flex flex-col bg-dark p-4  justify-content-center ">
                                    <app-art></app-art>
                                </div>
                            </div>

                        </div>

                        <!-- testing -->

                    </ul>

                </div>

            </div>

            <div class="w-100 d-flex justify-content-end align-items-center p-0 icon-container">
                <div #Category="ngbCollapse" [(ngbCollapse)]="navbarCollapse"
                    class=" w-100 collapse navbar-collapse  align-items-center justify-content-center "
                    id="navbarSupportedContent">

                    <div class="d-flex gap-3">
                        <div class="row">
                            <div class="col gap-2 c-font">
                                <div ngbDropdown class="d-inline-block display-6">
                                    <button *ngIf="!logedin()" type="button" class=" account-btn py-4 btn-large "
                                        id="dropdownBasic1" ngbDropdownToggle>
                                        <b class="c-font"> Signin</b>
                                    </button>
                                    <button *ngIf="logedin()" type="button" class=" account-btn py-4 btn-large"
                                        id="dropdownBasic1" ngbDropdownToggle> <i class="bi bi-person-check"></i>
                                        <b class="c-font">Hi,{{getName()}}</b>
                                    </button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1 display-6">
                                        <button ngbPopover="signin/signup" class="btn btn-primary btn-lg"
                                            *ngIf="!logedin()" routerLink="/auth/login" ngbDropdownItem>
                                            signup</button>

                                        <button *ngIf="logedin()" routerLink="/profile/user" ngbDropdownItem> <i
                                                class="bi bi-person btn-lg"></i>
                                            <b class="c-font">My Account</b></button>
                                        <button *ngIf="!logedin()" routerLink="/auth/login" ngbDropdownItem> <i
                                                class="bi bi-person btn-lg"></i>
                                            My Account</button>
                                        <button *ngIf="logedin()" routerLink="/profile/messages" ngbDropdownItem> <i
                                                class="bi bi-envelope btn-lg"></i><b class="c-font">Message</b></button>

                                        <button *ngIf="logedin()" routerLink="/profile/orders" ngbDropdownItem><i
                                                class="bi bi-box2 btn-lg"></i>
                                            <b class="c-font">Orders</b></button>
                                        <button *ngIf="!logedin()" routerLink="/auth/login" ngbDropdownItem><i
                                                class="bi bi-box2 btn-lg"></i>
                                            <b class="c-font">Orders</b></button>
                                        <button routerLink="/profile/user" ngbDropdownItem><i
                                                class="bi bi-heart btn-lg"></i><b class="c-font">Loved</b></button>
                                        <hr>

                                        <div class="px-3">
                                            <button class="btn " *ngIf="logedin()" (click)="logout()" ngbDropdownItem>
                                                Logout</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button ngbPopover="Cart" triggers="mouseenter:mouseleave" routerLink="/cart"
                            class="bi bi-cart p-1 account-btn"> <b class="c-font">Cart</b></button>

                    </div>
                </div>
            </div>
        </div>
    </nav>


</div>