<div class="container">
    <div class="d-flex flex-col justify-content-center align-items-center ">
        <!-- link -->
        <ul class="col-4 navbar-item text-light  flex-col">
            <div class="text-caps zoom mb-4">
                <a href="/products/lighting/all">All LIGHTING</a>
            </div>

            <li class="text-caps zoom mb-1">
                <a href="/products/lighting/cookware" class="mb-1">
                    FLOOR LAMPS
                </a>
            </li>

            <li class="text-caps zoom mb-1">
                <a href="/products/lighting/kitchen-tools"
                    class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                    CHANDELIERS
                </a>
            </li>

            <li class="text-caps zoom mb-1">
                <a href="/products/lighting/knives" class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                    cEILING LIGHTS
                </a>
            </li>

            <li class="text-caps zoom mb-1">
                <a href="/products/lighting/water-filtration"
                    class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                    OUTDOOR LIGHTS
                </a>
            </li>
        </ul>
        <!-- image -->
        <div class="col-8">
            <div class="col-7">
                <div class="d-flex flex-col">
                    <img class="img-fluid mr-1" src="../../../../assets/Furnitures/bed2.webp" />
                    <img class="img-fluid" src="../../../../assets/Furnitures/bed2.webp" />
                </div>
            </div>
        </div>
    </div>
</div>