<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody *ngFor="let user of pagesUsers">
        <tr>
            <td>{{user._id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td class="d-flex justify-content-between">
                <app-update-users [user]="user"></app-update-users>
                <img (click)="deleteUser(user.id)" class="zoom" style="width: 35%;"
                    src="../../../../../assets/delete.svg">
            </td>

        </tr>
    </tbody>

</table>
<div *ngIf="collectionSize>pageSize" class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
        (pageChange)="refreshUsers()">
    </ngb-pagination>
</div>