<app-header></app-header>
<div class="d-flex w-100 justify-content-center align-items-center  gap-2 mt-1 ">
    <div class=" col-3 w-100 .bg-light">
        <div class="d-c-flex w-100 ">
            <div class="card py-4 ">
                <button class="m-card w-100 py-2  c-m-btn" routerLink="/profile/user">
                    My Vega Account
                </button>
                <button class="m-card col-12 py-1 my-2 c-m-btn" routerLink="/profile/orders">
                    Orders
                </button>
                <button class="m-card col-12 py-1 my-2 c-m-btn" routerLink="/profile/messages">
                    Inbox
                </button>
                <button class="m-card col-12 py-1 my-2 c-m-btn" routerLink="/profile/messages">
                    Pending Review
                </button>
                <button class="m-card col-12 py-1 my-2 c-m-btn" routerLink="/profile/messages">
                    Saved Items
                </button>
                <button class="m-card col-12 py-1 my-2 c-m-btn" routerLink="/profile/user">
                    Profile
                </button>
            </div>

        </div>
    </div>`
    <div class="col-8 ">
        <router-outlet></router-outlet>
    </div>
</div>

<app-footer></app-footer>