<div class="card p-2">
    <h3>Account Overview</h3>

    <div class="d-flex flex-column gap-3">
        <div class="d-flex gap-2 m-2 ">
            <div class="card w-100">
                <h4>ACCOUNT DETAILS</h4>
                <div class="card-w-100 p-3">
                    <h5>Lawrence Kagai</h5>
                    <h6>mainalawrence32@gmail.com</h6>
                </div>
            </div>
            <div class="card w-100 p-2">
                <h4>ADDRESS BOOK</h4>
                <div class="card-w-100 p-3">
                    <h5>Lawrence Kagai</h5>
                    <h6>mainalawrence32@gmail.com</h6>
                </div>
            </div>
        </div>
        <div class="d-flex gap-2 m-2 ">
            <div class="card w-100">
                <h4>JUMIA STORE CREDIT</h4>
                <div class="card-w-100 p-3">
                    <h5>Lawrence Kagai</h5>
                    <h6>mainalawrence32@gmail.com</h6>
                </div>
            </div>
            <div class="card w-100 p-2">
                <h4>NEWSLETTER PREFERENCES</h4>
                <div class="card-w-100 p-3">
                    <p>You are currently not subscribed to any of our newsletters.</p>
                </div>
            </div>
        </div>
    </div>
</div>