a {
    color: white;
    text-decoration: none;
    margin-bottom: 1%;
}

a:hover {
    color: aquamarine;

}


.zoom {
    transition: transform .2s;
    /* Animation */
}

.zoom:hover {
    transform: scale(1.1);
}

ul {
    text-decoration: none;
    list-style: none;
}
