<div class="container">
    <div class="d-flex flex-col justify-content-center align-items-center">
        <!-- link -->

                    <ul class="col-4 mb-4">
                        <div class="text-caps zoom">
                            <a href="/collections/kitchen">All Kitchen</a>
                        </div>

                        <li class="text-caps zoom">
                            <a href="/collections/cookware"
                                class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                Cookware
                            </a>
                        </li>

                        <li class="text-caps zoom">
                            <a href="/collections/kitchen-tools"
                                class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                Kitchen Tools
                            </a>
                        </li>

                        <li class="text-caps zoom">
                            <a href="/collections/knives"
                                class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                Knives
                            </a>
                        </li>

                        <li class="text-caps zoom">
                            <a href="/collections/water-filtration"
                                class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                Water Filtration
                            </a>
                        </li>

                        <li class="text-caps zoom">
                            <a href="/collections/kitchen-table-linens"
                                class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                Kitchen + Table Linens
                            </a>
                        </li>

                        <li class="text-caps zoom">
                            <a href="/collections/organization-food-storage"
                                class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                Organization + Food Storage
                            </a>
                        </li>

                    </ul>           
        <!-- image -->
        <div class="col-8">
            <div class="col-6">
                <div class="d-flex flex-col">
                    <img class="img-fluid mr-1" src="../../../../assets/Furnitures/bed2.webp" />
                    <img class="img-fluid" src="../../../../assets/Furnitures/bed2.webp" />
                </div>
            </div>
        </div>
    </div>
</div>