
.add-cart:hover{
background-color: #32cf9d;
color: white;
outline: none;
border-width: 0px;
}
.card{
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.img-thumbnail{
   width: 30%;
}
.main-image{
  
   width: 100%;
   display:flex;
   justify-content: center;
}
.main-image>img {
   width: 100%;
   height: 100%;
}
.grouping{
   display: flex;
}
.spe-a {
   padding-bottom: 25px;
}

.spe-a ul {
   margin: 0px;
   padding: 0px;
}

.spe-a ul li p {
   line-height: 34px;
}

.spe-a ul li {
   border-bottom: 1px solid #eeeeee;
}

.spe-a ul li .col-md-4 {
   padding-left: 0px;
}
.product-details{
   font-family: serif;
}
.zoom {
   transition: transform .2s;
   /* Animation */
}

.zoom:hover {
   transform: scale(1.1);
}



/*phone*/
@media only screen and (max-width: 428px) {
   .ma-sm {
         margin-top: 10%;
      }

   }