<app-header></app-header>
<div class="container mt-2">
        <div class="row">
            <div class="col-md-7 col-sm-8 card">
                <div class="md-prod-page">
                    <div class="md-prod-page-in">
                        <div class="page-preview">
                            <div class="preview">
                                <div class="preview-pic tab-content">
                                    <!-- main image -->
                                    <div class="main-image" id="pic-1"><img class="img-fluid " src="../../../../../assets/12.png" alt="#" /></div>
                                </div>
                                <hr/>
                                <div class="d-flex container">
                                    <img class="img-thumbnail" src="../../../../../assets/12.png" alt="#" />
                                    <img class="img-thumbnail" src="../../../../../assets/12.png" alt="#" />
                                    <img class="img-thumbnail" src="../../../../../assets/12.png" alt="#" />
                                    <img class="img-thumbnail" src="../../../../../assets/12.png" alt="#" />
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="description-box">
                        <div class="dex-a">
                            <h4>Description</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a
                                type specimen book..
                            </p>
                            <br>
                            <p>Small: H 25 cm / &Oslash; 12 cm</p>
                            <p>Large H 24 cm / &Oslash; 25 cm</p>
                        </div>
                        <div class="spe-a">
                            <h4>Specifications</h4>
                            <ul>
                                <li class="grouping">
                                    <div class="col-md-4">
                                        <h5>Measurments</h5>
                                    </div>
                                    <div class="col-md-8">
                                        <p>H25 cm / 0 12 cm and H 24 cm / 0 25 cm</p>
                                    </div>
                                </li>
                                <li class="grouping">
                                    <div class="col-md-4">
                                        <h5>Material</h5>
                                    </div>
                                    <div class="col-md-8">
                                        <p>Material Name</p>
                                    </div>
                                </li>
                                <li class="grouping">
                                    <div class="col-md-4">
                                        <h5>Wire</h5>
                                    </div>
                                    <div class="col-md-8">
                                        <p>Wire Name</p>
                                    </div>
                                </li>
                                <li class="grouping">
                                    <div class="col-md-4">
                                        <h5>Comdition</h5>
                                    </div>
                                    <div class="col-md-8">
                                        <p>Brand new</p>
                                    </div>
                                </li>
                                <li class="grouping">
                                    <div class="col-md-4">
                                        <h5>SKU number</h5>
                                    </div>
                                    <div class="col-md-8">
                                        <p>SKU number</p>
                                    </div>
                                </li>
                                <li class="grouping">
                                    <div class="col-md-4">
                                        <h5>Shipping</h5>
                                    </div>
                                    <div class="col-md-8">
                                        <p>Shipping worldwide</p>
                                    </div>
                                </li>
                                <li class="grouping">
                                    <div class="col-md-4">
                                        <h5>Warranty</h5>
                                    </div>
                                    <div class="col-md-8">
                                        <p>1 years</p>
                                    </div>
                                </li>
                                <li class="grouping">
                                    <div class="col-md-4">
                                        <h5>Delivery</h5>
                                    </div>
                                    <div class="col-md-8">
                                        <p>Choose country</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            
            </div>
            <div class="col-md-3 col-sm-12 ">
                <div class="price-box-right card p-3">
                    <h4>Price</h4>
                    <h3>$1.320 <span>pr.peice</span></h3>
                    <p>Option</p>
                    <select class="form-control select2">
                       
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                    </select>
                    <a class="btn btn-dark add-cart" href="#">Add To Cart</a>
                    <h5><i class="fa fa-clock-o" aria-hidden="true"></i> <strong>2 Days Derivery</strong>
                    </h5>
                </div>
            </div>
        </div>

</div>

                 