<div class="container-fluid w-100">
    <div class="offcanvas-header " style="background-color:#32cf9d;">
        <h5 class="offcanvas-title">Menu</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="this.getDismissReason('h')"></button>
    </div>
    <div class="offcanvas-body">
        <div class="container-fluid bg-light">
            <div class="row">
                <div class="nav flex-column W-100">
                    <li class="nav-item ">
                        <button (click)="bedroomdiv.toggle();" type="button"
                            class="btn d-flex justify-content-between align-item-center w-100 "><a
                                class="zoom text-dark" (click)="getDismissReason('h')">BEDROOM</a> <img
                                src="../../../assets/down_collapse.svg">
                        </button>
                        <!-- BED ROOM -->
                        <div #bedroomdiv="ngbCollapse" [(ngbCollapse)]="bedroom">
                            <ul class="col-12 bg-dark p-3">
                                <div class="text-caps mb-4 zoom">
                                    <a href="/products/bedroom/all">All Furniture</a>
                                </div>
                                <li class="text-caps mb-1 zoom">
                                    <a href="/products/Furnitures/sofas"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Sofas
                                    </a>
                                </li>

                                <li class="text-caps  mb-1  zoom">
                                    <a href="/products/Furnitures/chairs"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Chairs
                                    </a>
                                </li>

                                <li class="text-caps  mb-1  zoom">
                                    <a href="/products/Furnitures/tables-desks"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Tables + Desks
                                    </a>
                                </li>

                                <li class="text-caps  mb-1 zoom">
                                    <a href="/products/Furnitures/shelving" class=" wrap">
                                        Shelving
                                    </a>
                                </li>

                                <li class="text-caps  mb-1 zoom">
                                    <a href="/products/Furnitures/sideboards-cabinets"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Sideboards + Cabinets
                                    </a>
                                </li>

                                <li class="text-caps  mb-1 zoom">
                                    <a href="/products/Furnitures/stools-benches-ottomans"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Stools + Benches + Ottomans
                                    </a>
                                </li>

                                <li class="text-caps  mb-1  zoom">
                                    <a href="/products/bedroom/kids-baby-furniture"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Kids' + Baby Furniture
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <button type="button" (click)="furniturediv.toggle()"
                            class="btn d-flex justify-content-between align-item-center w-100 "><a
                                class="zoom text-dark" (click)="getDismissReason('h')">FURNITURE</a> <img
                                src="../../../assets/down_collapse.svg">
                        </button>

                        <!-- Furniture -->
                        <div #furniturediv="ngbCollapse" [(ngbCollapse)]="furniture">
                            <ul class="col-12 bg-dark ">
                                <div class="mb-4 zoom">
                                    <a href="/products/Furnitures/kitchen">All Furnitures </a>
                                </div>

                                <li class="text-caps zoom">
                                    <a href="/products/Furnitures/cookware"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        SOFAS
                                    </a>
                                </li>

                                <li class="text-caps zoom">
                                    <a href="/products/Furnitures/kitchen-tools"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        CHAIRS
                                    </a>
                                </li>

                                <li class="text-caps zoom">
                                    <a href="/products/Furnitures/knives"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        TABLES +DESKS
                                    </a>
                                </li>

                                <li class="text-caps zoom">
                                    <a href="/products/Furnitures/water-filtration"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        SHELVES
                                    </a>
                                </li>

                                <li class="text-caps zoom">
                                    <a href="/products/Furnitures/kitchen-table-linens"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        SIDEBOARD + CABINETS
                                    </a>
                                </li>

                                <li class="text-caps zoom">
                                    <a href="/products/Furnitures/organization-food-storage"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        KIDS + CHILDREN FURNITURE
                                    </a>
                                </li>


                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <!-- Lighting -->
                        <button type="button" (click)="lightingdiv.toggle()"
                            class="btn d-flex justify-content-between align-item-center w-100 "><a
                                class="zoom text-dark" (click)="getDismissReason('h')">LIGHTING</a> <img
                                src="../../../assets/down_collapse.svg">
                        </button>
                        <div #lightingdiv="ngbCollapse" [(ngbCollapse)]="lighting">
                            <ul class="col-12 navbar-item text-light  flex-col">
                                <div class="text-caps zoom mb-4">
                                    <a href="/products/lighting/all/">All LIGHTING</a>
                                </div>

                                <li class="text-caps zoom mb-1">
                                    <a href="/products/lighting/cookware" class="mb-1">
                                        FLOOR LAMPS
                                    </a>
                                </li>

                                <li class="text-caps zoom mb-1">
                                    <a href="/products/lighting/kitchen-tools"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        CHANDELIERS
                                    </a>
                                </li>

                                <li class="text-caps zoom mb-1">
                                    <a href="/products/lighting/knives"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        cEILING LIGHTS
                                    </a>
                                </li>

                                <li class="text-caps zoom mb-1">
                                    <a href="/products/lighting/water-filtration"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        OUTDOOR LIGHTS
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <!-- OUTDOOR -->
                        <button type="button" (click)="outdoordiv.toggle()"
                            class="btn d-flex justify-content-between align-item-center w-100 "><a
                                class="zoom text-dark" (click)="getDismissReason('h')">OUTDOOR</a> <img
                                src="../../../assets/down_collapse.svg">
                        </button>
                        <div #outdoordiv="ngbCollapse" [(ngbCollapse)]="outdoor">
                            <ul class="col-12">
                                <div class="zoom mb-4">
                                    <a href="/products/outdoor/all">All Furniture</a>
                                </div>
                                <li class="zoom">
                                    <a href="/products/outdoor/outdoor-furniture"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Outdoor Furniture
                                    </a>
                                </li>

                                <li class="zoom">
                                    <a href="/products/outdoor/outdoor-lights"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Outdoor Lights
                                    </a>
                                </li>

                                <li class="zoom">
                                    <a href="/products/outdoor/outdoor-accessories"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Outdoor Accessories
                                    </a>
                                </li>

                                <li class="zoom">
                                    <a href="/products/outdoor/outdoor-games-recreation"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Outdoor Games + Recreation
                                    </a>
                                </li>

                                <li class="zoom">
                                    <a href="/products/outdoor/firepits-grills"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Fire Pits + Grills
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <!-- DINNING -->
                        <button type="button" (click)="dinningdiv.toggle()"
                            class="btn d-flex justify-content-between align-item-center w-100 "><a
                                class="zoom text-dark" (click)="getDismissReason('h')">DINNING</a> <img
                                src="../../../assets/down_collapse.svg">
                        </button>
                        <div #dinningdiv="ngbCollapse" [(ngbCollapse)]="dinning">
                            <ul class="col-12 mr-5">

                                <div class="text-caps zoom mb-4">
                                    <a href="/products/dining/all">All Dining</a>
                                </div>

                                <li class="text-caps text-wide zoom">
                                    <a href="/products/dining/dinnerware"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Dinnerware
                                    </a>
                                </li>

                                <li class="text-caps text-wide text-inverted zoom">
                                    <a href="/products/dining/serveware"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Serveware
                                    </a>
                                </li>

                                <li class="text-caps zoom">
                                    <a href="/products/dining/drinkware"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Drinkware
                                    </a>
                                </li>

                                <li class="text-caps text-wide text-inverted zoom">
                                    <a href="/products/dining/barware"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Barware
                                    </a>
                                </li>

                                <li class="text-caps text-wide text-inverted zoom">
                                    <a href="/products/dining/coffee-tea"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Coffee + Tea
                                    </a>
                                </li>

                                <li class="text-caps text-wide text-inverted zoom">
                                    <a href="/products/dining/carafes-pitchers"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Carafes + Pitchers
                                    </a>
                                </li>

                                <li class="text-caps text-wide text-inverted zoom">
                                    <a href="/products/dining/wine-champagne-glasses"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Wine + Champagne Glasses
                                    </a>
                                </li>

                                <li class="text-caps text-wide text-inverted zoom">
                                    <a href="/products/dining/beer-cocktail-glasses"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Beer + Cocktail Glasses
                                    </a>
                                </li>

                                <li class="text-caps text-wide text-inverted zoom">
                                    <a href="/products/dining/kitchen-table-linens"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Kitchen + Table Linens
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <!-- KITCHEN -->
                        <button type="button" (click)="kitchendiv.toggle()"
                            class="btn d-flex justify-content-between align-item-center w-100 "><a
                                class="zoom text-dark" (click)="getDismissReason('h')">KITCHEN</a> <img
                                src="../../../assets/down_collapse.svg">
                        </button>
                        <div #kitchendiv="ngbCollapse" [(ngbCollapse)]="kitchen">
                            <ul class="col-12 mb-4">
                                <div class="text-caps zoom">
                                    <a href="/products/kitchen/all">All Kitchen</a>
                                </div>

                                <li class="text-caps zoom">
                                    <a href="/products/kitchen/cookware"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Cookware
                                    </a>
                                </li>

                                <li class="text-caps zoom">
                                    <a href="/products/kitchen/kitchen-tools"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Kitchen Tools
                                    </a>
                                </li>

                                <li class="text-caps zoom">
                                    <a href="/products/kitchen/knives"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Knives
                                    </a>
                                </li>

                                <li class="text-caps zoom">
                                    <a href="/products/kitchen/water-filtration"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Water Filtration
                                    </a>
                                </li>

                                <li class="text-caps zoom">
                                    <a href="/products/kitchen/kitchen-table-linens"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Kitchen + Table Linens
                                    </a>
                                </li>

                                <li class="text-caps zoom">
                                    <a href="/products/kitchen/organization-food-storage"
                                        class="block padding-top-bottom--down-2 hover-text-lighter wrap">
                                        Organization + Food Storage
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </li>
                </div>
            </div>
        </div>

    </div>
</div>