<div class="container-fluid w-100">
    <div class="offcanvas-header "  style="background-color:#32cf9d;">
        <h5 class="offcanvas-title">Menu</h5>
        <button>Close</button>
    </div>
    <div class="offcanvas-body">
        <div class="container-fluid bg-light">
            <div class="row">
                <ul class="nav flex-column">
                    <li class="nav-item mb-4">
                        <button (click)="Category.toggle()" type="button"
                            class="btn d-flex justify-content-between align-item-center w-100 ">Category <img
                                src="../../../assets/down_collapse.svg">
                        </button>
                        <!-- Category -->
                        <div #Category="ngbCollapse" [(ngbCollapse)]="CategoryCollapsed">
                            <div class=" w-80  m-4 ">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Desktop
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                                        checked>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Laptop
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                                        checked>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Acessories
                                    </label>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item mb-4">
                        <button type="button" (click)="Price.toggle()"
                            class="btn d-flex justify-content-between align-item-center w-100 ">Price <img
                                src="../../../assets/down_collapse.svg">
                        </button>

                        <!-- Price -->
                        <div #Price="ngbCollapse" [(ngbCollapse)]="PriceCollapsed">
                            <div class="row d-flex w-100 m-4 justify-content-between align-item-center col-sm">
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping col-sm">Ksh</span>
                                    <input type="text" class="form-control" value="100" aria-label="Username"
                                        aria-describedby="addon-wrapping">
                                </div>
                                <label class="btn">To</label>
                                <div class="input-group flex-nowrap">
                                    <span class="input-group-text" id="addon-wrapping col-sm">Ksh</span>
                                    <input type="text" class="form-control" value="10000" aria-label="Username"
                                        aria-describedby="addon-wrapping">
                                </div>
                                <button class="btn btn-default ml-2"><img
                                        src="../../../assets/left_collape1.svg" /></button>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <!-- Ratting -->

                        <button type="button" (click)="Ratting.toggle()"
                            class="btn d-flex justify-content-between align-item-center w-100 ">Ratting <img
                                src="../../../assets/down_collapse.svg">
                        </button>
                        <div #Ratting="ngbCollapse" [(ngbCollapse)]="RatingCollapsed">
                            <div class="row w-100 m-4">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        8 Ranks
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        4 Ranks
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        2 Ranks
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        1 Rank
                                    </label>
                                </div>


                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>