.offcanvas-header{
    width: 100%;
}
.offcanvas-body{
    overflow-y: auto;
    max-height: 100vh;
    margin-bottom: 60%;
    padding-bottom: 20%;
}
a {
    color: white;
    text-decoration: none;
    margin-bottom: 1%;
}

a:hover {
    color: aquamarine;

}

ul {
    text-decoration: none;
    list-style: none;
    background-color: #212529;
    padding: 10%;
   
}
.zoom {
    transition: transform .2s;
    /* Animation */
}

.zoom:hover {
    transform: scale(1.1);
}